/* [class^= "container"], [class^= "col"] {
  background-color: rgba(165, 42, 42, 0.662);
  border: 1px solid black;
} */

header {
  height: 80px;
  background-color:#2c3f50;
  color: white;
}


ul {
  list-style: none;
}

ul li a {
  text-decoration: none;
  color: white;
  padding: 0 15px;
}
.jumbotron {
  height: 450px;
  background-color: #1abc9d;
  color: white;
}

.smile {
  width: 200px;
  aspect-ratio: 1/1;
  background-color: red;
  border-radius: 50%;
}

.line {
  width: 50%;
  margin: 0 auto;
  height: 2px;
  background-color: black;
}

.portfolio .col {
  height: 200px;
  border-radius: 10px;
  border: 1px solid black;
}

.about {
  background-color: #1abc9d;
  /* height: 300px; */
  color: white;
  padding: 25px 0;
}

.download-btn {
  padding: 10px;
  color: white;
  border: 1px solid white;
  margin: 0 auto;
  width: fit-content;
}

.contact-me {
  height: 350px;
}

.em-container {
  width: 50%;
  margin: 0 auto;
}

.em-container .line:not(:first-of-type) {
  width: 100%;
  margin: 0;
}

.top span {
  color: #1abc9d;
}

footer.top {
  background-color: #3b546d;
  color: white;
}

footer.bottom {
  height: 80px;
  color: white;
  background-color: #2c3f50;
}